<app-navbar></app-navbar>
<div class="alert alert-danger text-capitalize col-md-6 offset-3 mt-2" role="alert" *ngIf="useCaseError">
  {{warningMessage}}
</div>
<div class="container add-to-cart">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card_item red">
            <div class="item-name">
              Apple
            </div>
            <article>
              <h2 class="stock-count">{{ appleStockCount }}</h2>
              <div style="display: flex;">
                <div class="actionButtons grow" (click)="addItemToStack('addApple')">
                  +
                </div>
                <div class="actionButtons grow" (click)="removeItemFromStack('removeApple')">
                  -
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card_item orange">
            <div class="item-name">
              Orange
            </div>
            <article>
              <h2 class="stock-count">{{ orangeStockCount }}</h2>
              <div style="display: flex;">
                <div class="actionButtons grow" (click)="addItemToStack('addOrange')">
                  +
                </div>
                <div class="actionButtons grow" (click)="removeItemFromStack('removeOrange')">
                  -
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card_item grapes">
            <div class="item-name">
              Grapes
            </div>
            <article>
              <h2 class="stock-count">{{ grapesStockCount }}</h2>
              <div style="display: flex;">
                <div class="actionButtons grow" (click)="addItemToStack('addGrapes')">
                  +
                </div>
                <div class="actionButtons grow" (click)="removeItemFromStack('removeGrapes')">
                  -
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item-basket">
        <h3 class="text-white text-center">Fruits Bucket</h3>
        <div class="column">
          <div>
            <article *ngIf="itemStack?.length>0; else emptyBasket">
              <div *ngFor="let item of itemStack">
                <span class="fruit-content text-capitalize" [ngClass]="{
                    red: item === 1,
                    orange: item === 2,
                    grapes: item === 3
                  }">{{getItemName(item).name}}
                </span>
              </div>
            </article>
            <ng-template #emptyBasket>
              <h4 class="text-white text-center mt-5">Cart Empty!!</h4>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
