.product-view-wrapper {
  width: 100%;
  padding: 20px;
  background: #212121;
  margin-top: 5%;
  min-height: 500px;
  width: 100%;
  padding: 20px;

  .product-view {
    height: 600px;
    overflow: auto;
  }

  app-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
