<app-navbar></app-navbar>
<app-alert
  [message]="warningMessage"
  *ngIf="warningMessage"
  (close)="closeAlert()"
></app-alert>
<div class="product-view-wrapper">
  <div class="row">
    <div class="col-md-8 product-view">
      <app-product-list
        [productList]="productsList"
        (productActionEvent)="initiateCartAction($event)"
      >
      </app-product-list>
    </div>
    <div class="col-md-4">
      <!--cart items component-->
      <app-product-cart [cartItems]="cartItems"></app-product-cart>
      <!--Product summary information will be added here-->
      <app-product-summary
        [cartItems]="cartItems"
        [productList]="productsList"
      ></app-product-summary>
    </div>
  </div>
</div>
